.increase-decrease-buttons {
    position: relative;
    display: inline-block;
}

.numeric-input {
    width: 85px;
    padding-right: 22px;
    text-align: left;
    padding: 2px 6px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    justify-content: space-between;
}

.button {
    width: 22px;
    height: 50%;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding:5px 6px;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    display: flex;
    align-items: center;}

.button:hover {
    background-color: #f0f0f0;
    border-color: blue;
}

.button:active {
    background-color: #d0d0d0;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}