# =======================================
# Django Earthquake Fetch Script Settings
# =======================================

# Full path to your Django backend folder (contains manage.py)
BACKEND_DIR=C:\Users\username\Desktop\Projects\Earthquakes_Greece_Webapp_API\backend

# Full path to your Python interpreter inside virtual environment
VENV_PYTHON=C:\Users\username\Desktop\Projects\virtual-envs\venvMasters\Scripts\python.exe

# Full path to where you want the log file saved
LOG_FILE=C:\Users\username\Desktop\Projects\Earthquakes_Greece_Webapp_API\Batch_script_data_fetching\fetch_log.txt
